{% include 'header.html.twig' %}

    <div class="container mt-5 d-flex justify-content-center">
        <div class="col-sm-6">
        <h1 class="display-5 text-center mb-5">módosítás</h1>
            <form action="/categoryEdit" method="POST">
                <input type="hidden" value="{{ category.id }}" name="id">

                
                <div class="form-group">
                    <label for="nev">Név</label>
                    <input type="text" class="form-control" name="nev" id="nev" value ="{{category.nev}}" required>
                </div>  


                <div class="form-check mt-3">
                    <input type="checkbox" name="deleted" id="deleted" {{ category.deleted ? 'checked':''}}>
                    <label for="deleted">Törölt</label>
                </div>


                <div class="form-group mt-3 justify-content-between d-flex">
                    <a href="javascript:history.go(-1)" class="btn btn-warning"> <i class="fa-solid fa-arrow-left"></i> VISSZA </a>
                    <button  type="submit" class="btn btn-success text-white" name="update"> <i class="fa-solid fa-floppy-disk"></i> MÓDOSÍT </button>
                </div>


            </form>
        </div>
    </div>

{% include 'footer.html.twig' %}